﻿@model IEnumerable<Busuness.Objects.Workplace>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Title)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Title)
            </td>

            <td>
                @Html.ActionLink("Employee details", "Details", "Employee", new { id = item.Employee.UniqueAccountName }, null) |
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Index", "Employee", new { id = UrlParameter.Optional })">Add an Admin</a>
