﻿@using Sofia.Office.Map.Web.Models
@model SectorViewModel

<div>
    <h4>@Model.Floor.Name Floor</h4>
    <hr />

    <ul class="nav nav-tabs sectors-nav-tabs">
        @foreach (var x in Model.Floor.Sectors)
        {
            <li id="@Html.Raw("sector")@x.Name@Html.Raw("tab")"><a data-toggle="tab" href="@Html.Raw("#sector")@x.Number">@x.Name</a></li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var x in Model.Floor.Sectors)
        {
            <div id="@Html.Raw("sector")@x.Name" class="sectors tab-pane fade">
                @{
                    Html.RenderPartial("_sectorDetails", new SectorEmployeeViewModel { Sector = x, Employee = Model.Employee });
                }
            </div>
                    }
    </div>
</div>

<script>
    $(document)
        .ready(function() {
            @{
                var currentSector = Model.SectorId;
            }
            $(".sectors-nav-tabs li").removeClass("active");
            $(".sectors").removeClass("active in");
            if (@currentSector>0) {
                $('#sector' + @currentSector +'tab').addClass('active');
                $('#sector' + @currentSector).addClass('active in');
            } else {
                $('.sectors-nav-tabs li:first-child').addClass('active');
                $('.sectors:first-child').addClass('active in');
            }
        });
</script>

@section HeaderSearch{
    @{Html.RenderPartial("_employeeSearchForm");}
}
@section FloorDropdown{
    @{Html.RenderPartial("_floorDropdown");}
}

