﻿@using Busuness.Objects
@model Sofia.Office.Map.Web.Models.FloorViewModel

<svg width="200" height="400" id="sector215" class="sector">
    <polygon points="0 0, 0 300, 200 300, 200 130, 170 130, 170 50, 100 50, 100 0" style="fill:#11BAD7" />
    <text class="sector-name" x="20" y="200" font-family="Verdana" font-size="30" fill="white"></text>
    <text class="sector-teams" x="20" y="250" font-family="Verdana" font-size="15" fill="white"></text>
    Sorry, your browser does not support inline SVG.
</svg>
<svg width="500" height="400" id="sector205" class="sector">
    <polygon points="0 130, 0 300, 300 300, 300 130, 350 130, 350 250, 400 250, 400 350, 480 350, 500 50, 470 0, 150 0, 150 100, 100 100, 100 130" style="fill:#11BAD7" />
    <text class="sector-name" x="20" y="200" font-family="Verdana" font-size="30" fill="white"></text>
    <text class="sector-teams" x="20" y="250" font-family="Verdana" font-size="15" fill="white"></text>
    Sorry, your browser does not support inline SVG.
</svg> 

<script>
    var sectors = [];
    var sector_teams = [];
    @foreach (var s in Model.Sectors)
    {
        var floorIdentifier = s.FloorId;
        var sectorIdentifier = s.Number;
        var sectorId = "#sector"+sectorIdentifier;
        
            @:$('@sectorId' + ' .sector-name').html("Sector "+"@sectorIdentifier");
            var teams = new List<Team>
        {
            new Team
            {
                Name = "Team A"
            },
            new Team
            {
                Name = "Team B"
            }
        };
        foreach (var team in teams)
        {
                @:sector_teams.push("@team.Name");
                    @:$('@sectorId' + ' .sector-teams').append("@team.Name | ");
            }
        var url = Url.Action("DeepDetails", "Floor", new {floorNumber = @floorIdentifier, sectorNumber = @sectorIdentifier});
         @:$('@sectorId').wrap("<a href='@url'></a>");
    }

</script>
@section HeaderSearch{
    @{Html.RenderPartial("_employeeSearchForm");}
}
@section FloorDropdown{
    @{Html.RenderPartial("_floorDropdown");}
}

