﻿<div class="col-md-9">
    @{
        using (MvcForm mvcForm = Html.BeginForm("DeepDetailsWithSelectedEmployee", "Floor", FormMethod.Post, new { @class = "navbar-form" }))
        {
            <div class="input-group col-sm-10">
                @Html.TextBox("ids", null, new { @class = "form-control typeahead", placeholder = "Search by name or position...", id = "srch-term", autocomplete = "off" })
                @Html.Hidden("id", null, new { @class = "form-control typeahead", id = "srch-term2", autocomplete = "off" })

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        }
    }
</div>
<script src="@Url.Content("~/Scripts/autocomplete-search-box.js")" type="text/javascript"></script>