﻿

<script>
    $(function () {

        $(".dropdown-menu li a").click(function () {
            debugger
            $(".btn.dropdown-toggle:first-child").text($(this).text());
            $(".btn.dropdown-toggle:first-child").val($(this).text());
        });

    });
</script>

@*<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Select floor
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="http://localhost:51310/Floor/DeepDetails/?floorNumber=2">2nd floor</a></li>
        <li><a href="http://localhost:51310/Floor/DeepDetails/?floorNumber=6">6th floor</a></li>
    </ul>
</div>*@


<div class="dropdown">
    <button class="dropbtn">Floors</button>
    <div class="dropdown-content">
        <a href="http://localhost:51310/Floor/DeepDetails/2">2nd floor</a>
        <a href="http://localhost:51310/Floor/DeepDetails/6">6th floor</a>
    </div>
</div>