﻿@using System.Web.UI.WebControls
@using Busuness.Objects
@model Sofia.Office.Map.Web.Models.SectorEmployeeViewModel

<div>
    <svg id="place26" class="workplace" height="50" width="50" data-trigger="focus">
        <polygon x="100" y="200" points="0 60, 60 60, 60 0, 30 0, 30 30, 0 30" style="fill:green;" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg id="place23" class="workplace" height="50" width="50" data-trigger="focus">
        <polygon x="100" y="200" points="0 0, 0 60, 60 60, 60 30, 30 30, 30 0" style="fill:#00bfff;" />
        Sorry, your browser does not support inline SVG.
    </svg>
</div>

<script type="text/javascript">

    var WorkplacesArray = [];
    var current_employee;
    @*@foreach (var w in Model.Sector.Workplaces)
    {
        var placeNr = w.Id;
        var empUniqueName = w.Employee.UniqueAccountName;

        var placeId = "#place" + placeNr;

        @:WorkplacesArray["@placeNr"] = "@empUniqueName";
    }*@

        @*var workplaceId=0;
        var employeeId="";
        @if (Model.Employee != null)
        {
            @:workplaceId = @Model.Employee.Workplace.Id;
            @:employeeId = "@Model.Employee.UniqueAccountName";
        }*@


    $(document).ready(function () {

        @*if (employeeId!=="")
        {
            var url = '@Url.Action("Details", "Employee")' + '/' + employeeId;

            $.get(url, function (data) {
                $('#place' + workplaceId).popover({
                    html: true, content: data
                }).popover('show');
            });
        }*@
        var element;
        $('.workplace').click(function () {

            element = $(this);


            var empId = WorkplacesArray[element.attr("id").substr(5)];
            var url = '@Url.Action("Details", "Employee")' + '/' + empId;

            $.get(url, function (data) {
                $(element).popover({
                    html: true, content: data
                }).popover('show');
            });
        });

    });
</script>