﻿@using System.Web.UI.WebControls
@using Busuness.Objects
@model Sofia.Office.Map.Web.Models.SectorEmployeeViewModel

<div class="svg-wrapper">
    <svg class="sector" data-trigger="focus">
    </svg>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var element;
        $('.workplace').click(function () {
            debugger 
            element = $(this);


            var empId = element.attr("id").substr(5);
            var url = '@Url.Action("DetailsByPlaceId", "Employee")' + '/' + empId;

            $.get(url, function (data) {
                $(element).popover({
                    html: true, content: data
                }).popover('show');
            });
        });
    });
</script>