﻿@using System.Web.UI.WebControls
@using Busuness.Objects
@model Sofia.Office.Map.Web.Models.SectorEmployeeViewModel

<div>
    <svg id="place22" class="workplace" height="50" width="50" title="Nice tooltip22" data-trigger="focus">
        <polygon x="100" y="200" points="0 50,50 0,50 50" style="fill:pink;stroke:black;stroke-width:1" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg id="place23" class="workplace" height="50" width="50" data-trigger="focus">
        <polygon x="100" y="200" points="0 0,0 50,50 50" style="fill:pink;stroke:black;stroke-width:1" />
        Sorry, your browser does not support inline SVG.
    </svg>
</div>

<script type="text/javascript">

    var WorkplacesArray = [];

    @foreach (var w in Model)
    {
        var placeNr = w.Id;
        var empUniqueName = w.Employee.UniqueAccountName;

        var placeId = "#place" + placeNr;
        @*@:$("@placeId").wrap("<a href=\"#\"  data-poload=\"/Employee/Details/vbud\">Toggle popover</a>");*@

        @:WorkplacesArray["@placeNr"] = "@empUniqueName";
    }

    $(document).ready(function () {
        $('.workplace').click(function () {

            var element = $(this);
            var empId = WorkplacesArray[23];
            var url = '@Url.Action("Details", "Employee")'+'/'+empId;

            $.get(url, function (data) {
                console.log('aaa');

                $(element).popover({html: true, content: data
                }).popover('show');
            });



        });
        $('.workplace')
            .click(function () {
                debugger
                console.log('fff');
                $('.workplace').not(this).popover('hide');
            });
    });


    function GetContent() {
        @*@Html.Action("Details", "Employee", new { id = "vbud" });*@
    };


</script>