﻿@model IEnumerable<Busuness.Objects.Floor>
@{
    ViewBag.Title = "Home Page";
}

<div class="row home">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>Search</h3>
        @{
            Html.RenderPartial("_employeeSearchForm");
        }
        <h3>Choose a floor</h3>

        @foreach (var floor in Model)
        {
            <div class="floor-block col-md-12">
                <a href="/Floor/Overview/?floorNumber=@floor.Number">
                    <div id="floor @floor.Name" class="floor-name col-md-2">
                        <span>@floor.Name</span>
                    </div>
                    <div id="floor @floor.Name+details" class="floor-details col-md-10">
                        <div class="floor-details-title">Who's there?</div>
                        <div class="floor-details-content">
                            <span>@floor.Inhabitans people</span> 
                            @foreach (var team in floor.Teams)
                            {
                               @Html.Raw(" | ") <span>@team.Name</span> 
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>