body {
    overflow-y: hidden;
}
.container {
    z-index: 233333;
}
.twobytwo {
    display: block;
}
.twobytwo td{
    padding: 1px;
}
.svg-wrapper{
    height: 100vh;
    overflow-y: auto;
}
.sector {
    margin-top: 10px;
    width: 100%;
    min-height: 850px;
    background: no-repeat url("./../imgs/sector1.svg");
}


.workplace.taken {
    background-image: url("./../imgs/taken-desk.svg");
}

.workplace.type-a {}

.workplace.type-b {
    transform: rotate(90deg);
}

.workplace.type-c {
    transform: rotate(270deg);
}

.workplace.type-d {
    transform: rotate(180deg);
}

.dropdown {
    float: right;
}

.dropdown-menu {
    display: inherit;
}

.row.home h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 97px;
    color: #242C62;
}

.floor-name {
    float: left;
    height: 80px;
    width: 80px;
    background: #11bad7;
    color: #fff;
    font-size: 50px;
    position: relative;
}

.floor-name:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid white;
    border-right: 20px solid #11bad7;
    width: 0;
}

.floor-details {
    float: left;
}

.floor-details:hover {
    background-color: rgba(17, 186, 215, 0.3);
    height: 80px;
}

.floor-details-title {
    font-size: 24px;
    line-height: 35px;
    color: #666666;
}

.floor-details-content {
    font-size: 18px;
    line-height: 35px;
    color: #999999;
}

.floor-block {
    clear: both;
    border-bottom: #11bad7 1px solid;
    padding-left: 0;
    margin-top: 40px;
}

.navbar .container {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.18);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.18);
}

h4 {
    margin-top:20px !important;
}