﻿@model Busuness.Objects.Employee

<div>
    <div>
        <div id="photo">
            <img src='@Html.DisplayFor(model => model.Photo)' alt="@Html.DisplayFor(model => model.Name)" style="border-radius: 50px; width: 64px; height: 64px;" />
        </div>
        <div id="details">
            <div id="who">
                <span id="person-name">@Html.DisplayFor(model => model.Name)</span>
                <span id="person-position">@Html.DisplayFor(model => model.Competence)</span>
            </div>
            <div id="where">
                <span id="location">@Html.DisplayFor(model => model.Sector)</span>
                <span id="solution-group"></span>
            </div>
        </div>
    </div>
</div>